@import "tailwindcss";

/* Hide Next.js Dev Indicator */
[data-nextjs-toast],
[data-nextjs-dialog-overlay],
#nextjs-dev-indicator {
  display: none !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    /* Deepest black for OLED/Premium feel */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  height: 100vh;
  /* Ensure full height */
}

/* Custom Selection */
::selection {
  background-color: rgba(59, 130, 246, 0.3);
  /* Blue selection */
  color: #fff;
}